/*When the chat component is closed, use .cognigy-web-chat, else use cognigy-web-chat__open*/

.cognigy-web-chat {
  height: 2.5rem;
  width: 10rem;
}

.cognigy-web-chat, .cognigy-web-chat__open {
  color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: -2px 2px 10px #888888;
  align-items: center;
  font-family: Ubuntu, sans-serif;
}

.cognigy-web-chat__open {
  height: 20rem;
  width: 15rem;
}

/*The header is comprised of an outer container which ensures that the
header content is only 90% of the total width of the chat box - just like the content container*/

.cognigy-chat-header-container, .cognigy-chat-header-container__open {
  background-color: #3779e3;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}

.cognigy-chat-header-container {
  height: 100%;
}

.cognigy-close-icon {
  width: 20px;
  height: 20px;
}

/*The close icon disappears when the header is closed*/
.cognigy-chat-header-container > .cognigy-chat-header > .cognigy-close-icon {
  display: none;
}

.cognigy-chat-header-container > .cognigy-chat-header {
  justify-content: center !important;
}

.cognigy-chat-header-container__open {
  height: 15%;
}

.cognigy-chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
}

/*Container for chat content: Same function as header content defined above*/
.cognigy-chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.displayNone {
  display: none !important;
}

/*Below is styling for the form, input, button and window components*/
.cognigy-chat-form {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.cognigy-chat-input {
  border-bottom: 2px solid rgba(0,0,0,0.1);
  border-top: none;
  border-left: none;
  border-right: none;
  width: 90%;
  margin-bottom: 1em;
}

.cognigy-chat-input:focus {
  outline: none;
}
.cognigy-chat-button {
  border: 10px;
  border-radius: 20px;
  padding: 0.6rem;
  background-color: #3779e3;
  color: white;
}

.cognigy-chat-window {
  border: 1px solid #DCE2EB;
  height: 50%;
  border-radius: 4px;
  width: 90%;
  margin: 0.8rem 0;
  color: black;
  font-size: 12px;
  overflow-y: scroll;
}

/*Style scrollbar*/
.cognigy-chat-window::-webkit-scrollbar {
    width: 0.5rem;
}

.cognigy-chat-window::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3);
    outline: 1px solid slategrey;
    border-radius: 20px;
    flex-direction: column-reverse;
    display: flex;
}

/*Styling for messages sent by the user and received from the bot*/
.cognigy-chat-user-message-container {
  display: flex;
  word-break: break-word;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
  align-items: flex-end;
}

.cognigy-chat-bot-message-container {
  display: flex;
  word-break: break-word;
  margin: 0.3rem 0;
  align-items: flex-end;
}

.cognigy-chat-user-message {
  background-color: #F7F9FA;
  border-radius: 20px 20px 4px 20px;
  padding: 10px 15px;
  margin: 0.2rem 0;
}

.cognigy-chat-bot-message {
  background-color: #5193FF;
  border-radius: 20px 20px 20px 4px;
  padding: 10px 15px;
}

/*Styling for avatars*/
.cognigy-chat-bot-avatar {
  height: 20px;
  /*Fix "air" at the bottom of svg and add margin to sides*/
  margin: 0 0.2rem -4px 0.2rem;
}

.cognigy-chat-user-avatar {
  margin: 0 0.4rem 0 0.2rem;
  height: 20px;
  width: 20px;
}
