[data-cognigy-webchat-root] {
    position: relative;
    z-index: 9999;
}

[data-cognigy-webchat-root] [data-cognigy-webchat] {
    position: fixed;

    left: 0;
    top: 0;
    
    width: 100%;
    height: 100%;

    z-index: 2;
}

[data-cognigy-webchat-root] button[data-cognigy-webchat-toggle] {
    position: fixed;

	right: 20px;
	bottom: 14px;

    box-shadow: 0 5px 18px 0 rgba(151, 124, 156, 0.2), 0 5px 32px 0 rgba(203, 195, 212, 0.2), 0 8px 58px 0 rgba(216, 212, 221, 0.1);
    z-index: 1;
}

[data-cognigy-webchat-root] button[data-cognigy-webchat-toggle]:dir(rtl) {
    left: 20px;
    right: unset;
}

[data-cognigy-webchat-root] button[data-cognigy-webchat-toggle]:focus {
	box-shadow: 0 0 4px 3px rgb(0, 0, 0, 0.2);
}

@media screen and (min-width: 576px) {
    [data-cognigy-webchat-root] {
        position: relative;

        left: auto;
        top: auto;

        overflow: visible;
        width: auto;
        height: 100%;
    }

    [data-cognigy-webchat-root]:dir(rtl) {
        right: auto;
        left: unset;
    }

    [data-cognigy-webchat-root] [data-cognigy-webchat] {
        left: auto;
        top: auto;

		bottom: 90px;
		right: 20px;

		width: 460px;
		height: 780px;

        border-radius: 16px;
        box-shadow: 0 5px 18px 0 rgba(151, 124, 156, 0.2), 0 5px 32px 0 rgba(203, 195, 212, 0.2), 0 8px 58px 0 rgba(216, 212, 221, 0.1);
    }

    [data-cognigy-webchat-root] [data-cognigy-webchat]:dir(rtl) {
        right: auto;
        left: 20px;
    }

}

@media screen and (min-width: 576px) and (max-height: 870px) {
    [data-cognigy-webchat-root] [data-cognigy-webchat] {
		height: calc(100% - 90px);
		min-height: 558px;
    }
}

.cc-rtl-flip {
    transform: scaleX(-1);
}

.cc-rtl-flip-invert {
    transform: scaleX(1) !important; 
}