.button_template_container {
    width: 80%;
    color: #333333;
    text-align: center;
    background: white;
    display: block;
    font-weight: 500;
    padding: 7px 10px;
    cursor: pointer;
    line-height: 16px;
}


.button_template_outer_container {
    width: 60%;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgba(0,0,0,0.1);
}

.button_template_text {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: #333333;
    color: white;
    border-radius: 8px 8px 0 0;
    white-space: pre-line;
}

.image_template {
    width: 75%;
    height: 75%;
    margin-left: 60px;
    margin-top: 20px;
}

.button {
    color: #333333;
    padding: 0 10px;
    text-align: center;
    background: white;
    display: block;
    line-height: 32px;
    margin: 0 2px;
    font-weight: 500;
    height: 32px;
    cursor: pointer;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-radius: 0 0 10px 10px;
}

.list_template_element_button {
    color: #333333;
    padding: 6px;
    text-align: center;
    background: white;
    display: block;
    line-height: 15px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid;
    min-width: 65px;
    max-width: 65px;
    border-radius: 5px;
    margin-top: 10px;
    word-break: unset;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.list_template_element_button_first {
    padding: 6px;
    text-align: center;
    background: transparent;
    display: block;
    line-height: 15px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid;
    width: 50%;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    word-break: unset;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.list_template_element_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 60%;
}

.message {
    padding: 10px 10px;
    width: 75%;
    line-height: 20px;
    border-radius: 10px 10px 0 0;
    background: #eeeeee;
    white-space: pre-line;
}

.list_template_container {
    margin-right: 20px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
}

.list_template_element_container {
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.list_template_element_content_first {
    margin: 10px;
}

.list_template_element_container_first {
    height: 80px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    color: white;
    border-radius: 10px 10px 0 0;    
}

.generic_template_element_container_selected, .generic_template_element_container {
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 10px;
    background-color: white !important;
    display: flex;
    flex-direction: column;
}

.generic_template_element_container:focus {
    outline: none !important;
}

.generic_template_text_container {
    padding-left: 10px;
    padding-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-grow: 1;
}

.text_title {
    font-weight: bold;
    font-size: 13px;
    color: black;
    text-align: left;
}

.text_subtitle {
    color: rgba(0,0,0,0.45);
    white-space: pre-line;
    text-align: left;
    padding-bottom: 15px;
}

/* Disable breaks being added by firefox due to bug in clamp-lines library */
.text_subtitle_gallery > div > br {
    display: none;
}

.quick_reply_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.quick_reply {
    color: #333333;
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
    margin: 5px 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 6px;
    background-color: white;
}

.flex_wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.receipt_template_outer_container {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px;
}

.receipt_template_header_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: rgba(0,0,0,0.45);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 5px;
}

.receipt_template_element_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 10px;
}

.receipt_template_text_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 10px;
}

.receipt_template_information {
    color: rgba(0,0,0,0.45);
}

.receipt_template_information_container {
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.receipt_template_summary_price {
    font-weight: bold;
}

.receipt_template_summary_total {
    color: rgba(0,0,0,0.45);
}

.receipt_template_summary_container {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.word_break {
    word-break: break-all;
}

.display_none {
    display: none;
}

.generic_template_increment {
    width: 24px;
    height: 24px;
    background-image: url('https://s3.eu-central-1.amazonaws.com/cognigydev/CognigyWebchat/images/arrow_forward.svg');
    cursor: pointer;
}

.generic_template_decrement {
    width: 24px;
    height: 24px;
    background-image: url('https://s3.eu-central-1.amazonaws.com/cognigydev/CognigyWebchat/images/arrow_back.svg');
    cursor: pointer;
}

/* Disable arrows on mobile */
@media only screen and (max-width: 800px) {
    .generic_template_decrement, .generic_template_increment {
        visibility: hidden !important;
    }
}

@media screen and (max-width: 1500px) and (orientation: landscape) and (min-width: 720px) {
    .generic_template_decrement, .generic_template_increment {
        visibility: hidden !important;
    }
}

.generic_template_carousel_buttons_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}