[data-cognigy-webchat-root] html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

[data-cognigy-webchat-root] body {
  margin: 0;
}

[data-cognigy-webchat-root] main {
  display: block;
}

[data-cognigy-webchat-root] h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

[data-cognigy-webchat-root] hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

[data-cognigy-webchat-root] pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

[data-cognigy-webchat-root] a {
  background-color: transparent;
}

[data-cognigy-webchat-root] abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

[data-cognigy-webchat-root] b,
[data-cognigy-webchat-root] strong {
  font-weight: bolder;
}

[data-cognigy-webchat-root] code,
[data-cognigy-webchat-root] kbd,
[data-cognigy-webchat-root] samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

[data-cognigy-webchat-root] small {
  font-size: 80%;
}

[data-cognigy-webchat-root] sub,
[data-cognigy-webchat-root] sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

[data-cognigy-webchat-root] sub {
  bottom: -0.25em;
}

[data-cognigy-webchat-root] sup {
  top: -0.5em;
}

[data-cognigy-webchat-root] img {
  border-style: none;
}

[data-cognigy-webchat-root] button,
[data-cognigy-webchat-root] input,
[data-cognigy-webchat-root] optgroup,
[data-cognigy-webchat-root] select,
[data-cognigy-webchat-root] textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

[data-cognigy-webchat-root] button,
[data-cognigy-webchat-root] input {
  overflow: visible;
}

[data-cognigy-webchat-root] button,
[data-cognigy-webchat-root] select {
  text-transform: none;
}

[data-cognigy-webchat-root] button,
[data-cognigy-webchat-root] [type="button"],
[data-cognigy-webchat-root] [type="reset"],
[data-cognigy-webchat-root] [type="submit"] {
  -webkit-appearance: button;
}

[data-cognigy-webchat-root] button::-moz-focus-inner,
[data-cognigy-webchat-root] [type="button"]::-moz-focus-inner,
[data-cognigy-webchat-root] [type="reset"]::-moz-focus-inner,
[data-cognigy-webchat-root] [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[data-cognigy-webchat-root] button:-moz-focusring,
[data-cognigy-webchat-root] [type="button"]:-moz-focusring,
[data-cognigy-webchat-root] [type="reset"]:-moz-focusring,
[data-cognigy-webchat-root] [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[data-cognigy-webchat-root] fieldset {
  padding: 0.35em 0.75em 0.625em;
}

[data-cognigy-webchat-root] legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

[data-cognigy-webchat-root] progress {
  vertical-align: baseline;
}

[data-cognigy-webchat-root] textarea {
  overflow: auto;
}

[data-cognigy-webchat-root] [type="checkbox"],
[data-cognigy-webchat-root] [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[data-cognigy-webchat-root] [type="number"]::-webkit-inner-spin-button,
[data-cognigy-webchat-root] [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[data-cognigy-webchat-root] [type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[data-cognigy-webchat-root] [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

[data-cognigy-webchat-root]::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[data-cognigy-webchat-root] details {
  display: block;
}

[data-cognigy-webchat-root] summary {
  display: list-item;
}

[data-cognigy-webchat-root] template {
  display: none;
}

[data-cognigy-webchat-root] [hidden] {
  display: none;
}
